{% load static %}

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Event <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> {{ticket.event}}</span></h1>
        <h3>Ticket: {{ticket.name}} </h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <form action="{% url 'web:send_eticket_form' ticket_id=ticket.id %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-md-6 form-line">

                    <div class="form-group">
                        <label for="{{ form.order_id.id_for_label }}">Order Id</label>
                        <!--<input type="text" class="form-control" id="username" placeholder=" Enter Name">-->
                        {{ form.order_id }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.user_name.id_for_label }}">Customer Name</label>
                        <!--<input type="text" class="form-control" id="username" placeholder=" Enter Name">-->
                        {{ form.user_name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.user_email.id_for_label }}">Email Address</label>
                        <!--<input type="text" class="form-control" id="email" placeholder=" Enter Email id">-->
                        {{ form.user_email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.user_phone.id_for_label }}">Mobile No.</label>
                        <!--<input type="text" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">-->
                        {{ form.user_phone }}
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for ="description"> Message</label>
                        <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-default submit"> </input>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    /*Contact sectiom*/
    .content-header{
      font-family: 'Oleo Script', cursive;
      color:#fcc500;
      font-size: 45px;
    }

    .section-content{
      text-align: center;

    }
    #contact{

        font-family: 'Teko', sans-serif;
      padding-top: 60px;
      width: 100%;
      width: 100vw;
      height: 550px;
      background: #3a6186; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color : #fff;
    }
    .contact-section{
      padding-top: 40px;
    }
    .contact-section .col-md-6{
      width: 50%;
    }

    .form-line{
      border-right: 1px solid #B29999;
    }

    .form-group{
      margin-top: 10px;
    }
    label{
      font-size: 1.3em;
      line-height: 1em;
      font-weight: normal;
    }
    .form-control{
      font-size: 1.3em;
      color: #080808;
    }
    textarea.form-control {
        height: 135px;
       /* margin-top: px;*/
    }

    .submit{
      font-size: 1.1em;
      float: right;
      width: 150px;
      background-color: transparent;
      color: #fff;

    }

</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
