{% extends "sites/base.html" %}


{% block table_ticket %}

{% from "sites/_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {% for e in form %}
          {{ render_field(e) }}
      {% endfor %}
  </dl>
  <p><input type=submit value=add>
</form>

{% endblock %}
