{% extends "sites/base.html" %}

{% block event_list %}
    <div class="dropdown" style="margin: 10px 10px 10px 35px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Choose An Event
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {% for event in event_list %}
            <li> <a href="{{ url_for('mail.home', query_event= event.name ) }}"> {{ event.name }} </a> </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}

{% block table_ticket %}

    <thead>
        <tr>
          <th>Event</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
    </thead>
        {% for ticket in list_ticket %}
            <tr>
                <td>{{ ticket.event}}</td>
                <td>{{ ticket}}</td>
                <td>{{ ticket.price}}</td>
                <td>{{ ticket.quantity}}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
          <th>Event</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
    </tfoot>
    <tbody>
    </tbody>
{% endblock %}
