<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Event <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> </span></h1>
        <h3>Ticket: </h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    {% from "sites/_formhelpers.html" import render_field %}
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                          {{ render_field(form.event) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="csv_file" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                    <div class="col-md-8">
                        <!--{{ form.csv_file }}-->
                        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                         <input type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </input>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    /*Contact sectiom*/
    .content-header{
      font-family: 'Oleo Script', cursive;
      color:#fcc500;
      font-size: 45px;
    }

    .section-content{
      text-align: center;

    }
    #contact{

        font-family: 'Teko', sans-serif;
      padding-top: 60px;
      width: 100%;
      width: 100vw;
      height: 550px;
      background: #3a6186; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color : #fff;
    }
    .contact-section{
      padding-top: 40px;
    }
    .contact-section .col-md-6{
      width: 50%;
    }

    .form-line{
      border-right: 1px solid #B29999;
    }

    .form-group{
      margin-top: 10px;
    }
    label{
      font-size: 1.3em;
      line-height: 1em;
      font-weight: normal;
    }
    .form-control{
      font-size: 1.3em;
      color: #080808;
    }
    textarea.form-control {
        height: 135px;
       /* margin-top: px;*/
    }

    .submit{
      font-size: 1.1em;
      float: right;
      width: 150px;
      background-color: transparent;
      color: #fff;

    }

</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
