<!--<html>-->
<!--<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#FFFFFF' style="font-family: sans-serif;">-->
<!--<STYLE>-->
<!--.left{-->
	<!--display: flex;-->
	<!--border: 3px solid #000;-->
	<!--border-radius: 10px;-->
<!--}-->
<!--.line {-->
    <!--border: 1px dashed;-->
    <!--height: 65%;-->
    <!--margin: auto;-->
<!--}-->
<!--.ticket {-->
    <!--display: flex;-->
    <!--border-radius: 5px;-->
    <!--width: 80%;-->
    <!--min-width: 900px;-->
    <!--margin: 50px;-->
<!--}-->
<!--.logo{-->
	<!--width: 10%;-->
    <!--background: rgba(191, 191, 191, 0.17);-->
    <!--display: grid;-->
    <!--padding: 10px;-->
<!--}-->
<!--.logo img{-->
	    <!--align-self: flex-end;-->
<!--}-->
<!--.event {-->
    <!--text-align: left;    padding: 0px 20px;-->
<!--}-->
<!--.barcode {-->
    <!--width: 35%;-->
    <!--text-align: left;-->
    <!--border: 3px solid #000;-->
    <!--background: rgba(191, 191, 191, 0.17);-->
    <!--border-radius: 10px;-->
<!--}-->
<!--h3{-->
	<!--text-align: center;-->
    <!--background: #000;-->
    <!--margin: 0px;-->
    <!--padding: 10px;-->
    <!--color: #fff;-->
<!--}-->
<!--.img-bc {-->
    <!--padding: 20px;-->
    <!--background: #fff;-->
<!--}-->
<!--.details {-->
    <!--padding: 20px;-->
<!--}-->
<!--strong {-->
    <!--font-size: 22px;-->
<!--}-->
<!--.rip {-->
    <!--height: 20px;-->
    <!--margin: 0 10px;-->
    <!--background-size: 4px 2px;-->
    <!--background-repeat: repeat-x;-->
    <!--background-position: center;-->
    <!--position: relative;-->
<!--}-->
<!--.rip:before {-->
    <!--left: -10px;-->
<!--}-->
<!--.rip:after {-->
    <!--transform: translate(-50%, -50%) rotate(225deg);-->
    <!--right: -40px;-->
<!--}-->
<!--.rip:before, .rip:after {-->
    <!--content: '';-->
    <!--position: absolute;-->
    <!--width: 30px;-->
    <!--height: 30px;-->
    <!--top: 50%;-->
    <!--transform: translate(-50%, -50%) rotate(45deg);-->
    <!--border: 5px solid transparent;-->
    <!--border-top-color: #5c2733;-->
    <!--border-right-color: #5c2733;-->
    <!--border-radius: 100%;-->
    <!--pointer-events: none;-->
<!--}-->
<!--</STYLE>-->
<!--<center>-->
<!--<div class="ticket">-->
	<!--<div class="left">-->
		<!--<div class="logo"><a href="http://tikkit.vn"><img src="http://tikkit.vn/agilevietnam/wp-content/uploads/2017/08/TikkiT_logo.png" width="100%"></a></div>-->
		<!--<div class="event">-->
			<!--<div class="title">-->
				<!--<p>EVENT<br><strong>AGILE VIETNAM CONFERENCE 2017</strong></p>-->
				<!--<center><a href="http://tikkit.vn/agilevietnam"><img src="http://tikkit.vn/agilevietnam/wp-content/uploads/2017/10/AVNC17.png" width="100%"></a></center>-->
			<!--</div>-->
			<!--<div class="info">-->
				<!--<p>DATE AND LOCATION<br><strong>SAIGON - NOVEMBER 04, 2017<br>HANOI - NOVEMBER 05, 2017</strong></p>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="line"></div>-->
	<!--<div class="barcode">-->
		<!--<h3>Order Barcode</h3>-->
		<!--<div class="img-bc">-->
			<!--<img src='{{ qrcode.src }}' alt="{{ qrcode.id }}" height="50%" width="100%">-->
		<!--</div>-->
		<!--<div class="details">-->
			<!--<p>Order Barcode</p>-->
			<!--<p>{{user_name}}</p>-->
			<!--<p>{{user_email}}</p>-->
			<!--<p>{{user_phone}}</p>-->
		<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--</center>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
	<style type="text/css">
		.im{
			display: flex;
		}
	</style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="#FFFFFF" style="font-family: sans-serif;">

<center>
<div style="display: flex; border-radius: 5px; width: 80%; min-width: 900px; margin: 50px;">
	<span class="im" style="display:flex;">
	<div style="display: flex; border-radius: 10px; border: 3px solid #000;">
		<div style="width: 10%; background-color: rgba(191, 191, 191, 0.17); display: inline-grid; padding: 10px;">
			<a href="http://tikkit.vn" style="align-self: flex-end;" >
				<img src="http://tikkit.vn/agilevietnam/wp-content/uploads/2017/08/TikkiT_logo.png" width="100%">
			</a>
		</div>
		<!--<div> {{ ticket.name }}</div>-->
		<div style="text-align: left; padding: 0px 20px;" align="left">
			<div>
				<p>EVENT<br><strong style="font-size: 22px;">AGILE VIETNAM CONFERENCE 2017</strong></p>
				<center><a href="http://tikkit.vn/agilevietnam"><img src="http://tikkit.vn/agilevietnam/wp-content/uploads/2017/10/AVNC17.png" width="100%"></a></center>
			</div>
			<div>
				<p>DATE AND LOCATION<br><strong style="font-size: 22px;">SAIGON - NOVEMBER 04, 2017<br>HANOI - NOVEMBER 05, 2017</strong></p>
			</div>
		</div>
	</div>
	<div style="margin: 10px 0px; border: 1px dashed;"></div>
	</span>
	<div style="width: 35%; text-align: left; background-color: rgba(191, 191, 191, 0.17); border-radius: 10px; border: 3px solid #000;" align="left">
		<h3 style="text-align: center; background-color: #000; color: #fff; margin: 0px; padding: 10px;" align="center">Order Barcode</h3>
		<div style="background-color: #fff; padding: 20px;">
			<img src="{{ qrcode.src }}" alt="{{ qrcode.id }}" height="auto" width="100%">
		</div>
		<div style="padding: 20px;">
			<center> <p>{{ order.order_id }}</p> </center>
			<p style="font-weight: bold;">{{user_name}}</p>
			<p>{{user_email}}</p>
			<p>{{user_phone}}</p>
			<center><h2> {{ ticket }}</h2> </center>
		</div>
	</div>
</div>

</center>
</body>
</html>
