<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @media screen and (max-device-width: 600px) {
            .schedule td,th{
                font-size: 0.8em;
            }
        }
        table td,th{
            padding: 2px;
        }

    </style>
</head>
<body style="margin: 10px 2%; padding: 0 1.5rem; font-family: 'Roboto', 'Lucida Grande', Verdana, Arial, 'sans-serif'; border: #c5c5c4 2px ridge; font-size: 14px;">
    <div class="banner" style="width:100%;">
        <img src="https://webapp.reedtradex.co.th/Shared/Exhibitions/SSV18_CO.jpg" alt="Reed Tradex" width="100%">
    </div>
    <div class="title" style="text-align: center;">
        <h2>Confirmation to SH<span style="color: red;">O</span>P & ST<span style="color: blue;">O</span>RE <span style="color: red;">VIETNAM</span> 2018 Conference</h2>
    </div>
    <div style="background-image: url('https://webapp.reedtradex.co.th/Shared/Exhibitions/SSV18_CO.jpg'); width: 1px; object-fit: contain; height: auto; min-height: 1px; background-repeat: no-repeat; background-size: 100%;">
        <div height:200px>

        </div>
    </div>

    <div class="code" style="text-align: center;">
        <h3>Confirmation Code: <span>{{ data['qrcode'].id }}</span></h3>
        <img src="{{data['qrcode'].src}}" alt="{{data['qrcode'].id}}" width="25%"/>
    </div>
    <div class="container">
        <div class="content" style="padding:0px 1.5rem;">
            <p style="line-height:1.5">
                    Thank you for your confirmation to attend <b>"SHOP & STORE VIETNAM 2018"</b> during 28- 30 March 2018 at SECC, HCMC
                    <br>
                    Your pre-registration is now completed. 
            </p>
        </div>
        <table class="info" style="margin: 2rem auto; line-height: 1; width: 90%;">
            <tr style="text-align: left;">
                <th colspan="2" style="line-height: 1.5; padding-bottom: 1rem;">
                    **This benefit package is strictly reserved for the specified name below and not transferrable. <br>
                    <span style="color: blue;">**Các quyền lợi được bảo toàn, chỉ dành riêng cho người có tên dưới đây và không thể chuyển nhượng.</span>
                </th>
            </tr>
            
            <tr>
                <td> Name: </td>
                <td> {{data['name']}} </td>
            </tr>
            <tr>
                <td> Job Title: </td>
                <td> {{data['job']}} </td>
            </tr>
            <tr>
                <td> Company: </td>
                <td> {{data['company']}} </td>
            </tr>
            <tr>
                <td> Address: </td>
                <td> {{data['address']}} </td>
            </tr>
            <tr>
                <td> Province: </td>
                <td> {{data['province']}} </td>
            </tr>
            <tr>
                <td> country: </td>
                <td> {{data['country']}} </td>
            </tr>
            <tr>
                <td> Telephone: </td>
                <td> {{data['telephone']}} </td>
            </tr>
            <tr>
                <td> Fax: </td>
                <td> {{data['fax']}} </td>
            </tr>
            <tr>
                <td> Mobile Phone: </td>
                <td> {{data['phone']}} </td>
            </tr>
            <tr>
                <td> Email: </td>
                <td> {{data['email']}} </td>
            </tr>
        </table>
        <div style="padding:0px 1.5rem;">
            <em>
                Please verify your personal information as above, if there any amendment be needed, please correct it and send to contactcenter@reedtradex.co.th <br>
                We confirm your registration on the following session(s): <br>
            </em>
        </div>
        <table class="schedule" style="margin: 2rem auto; line-height: 2; width: 90%; ">
            <tr style="background-color: darksalmon; ">
                <th>Session Code</th>
                <th>Topic</th>
                <th>Date</th>
                <th>Time</th>
                <th>Room</th>
                <th>Ticket including</th>
            </tr>
            {% if data['ssv01'] %}
                <tr>
                    <td>SSV01</td>
                    <td>Vietnam, Retail & Franchise Conference</td>
                    <td>28 March 2018</td>
                    <td>09.00-17.00</td>
                    <td>Meeting room in Hall</td>
                    <td>Tea break / Networking lunch</td>
                </tr>
            {% endif %}
            {% if data['ssv02'] %}
                <tr>
                    <td>SSV02</td>
                    <td>Vietnam, Retail & Franchise Conference</td>
                    <td>29 March 2018</td>
                    <td>09.00-17.00</td>
                    <td>Meeting room in Hall</td>
                    <td>Tea break / Networking lunch</td>
                </tr>
            {% endif %}
            {% if data['ssv03']  %}
                <tr>
                    <td>SSV03</td>
                    <td>Legal Aspects of Franchising in Vietnam</td>
                    <td>30 March 2018</td>
                    <td>09.00-13.00</td>
                    <td>Meeting room in Hall</td>
                    <td>Tea break only</td>
                </tr>
            {% endif %}
        </table>
        <div class="notice" style="content: ''; display: flex; clear: both;">
            <div class="left-half" style="float: left; width:20%; padding: 10px;">
                <img src="http://tikkit.vn/wp-content/uploads/2018/01/important.gif" alt="Important" width="100%" />
            </div>
            <div class="right-half" style="float: left; width: 70%; padding: 10px;">
                Once you arrive at the show venue, please follow these easy steps:
                <ol>
                    <li>
                        Please print or present your confirmation code at " Conference Registration Counter” to pick up your entrance badge.
                    </li>
                    <li>
                        Please proceed to the conference room 15 minutes before the function begins.
                    </li>
                </ol>
            </div>
        </div>
        <div class="footer">
            <div style="padding: 0 1.5rem;">
                <p>For more information, please visit website at https://www.shopandstorevietnam.com or send to Contactcenter@reedtradex.co.th</p>
                <p>We are looking forward to give you a warmly welcome to <b>"SH<span style="color: red;">O</span>P & ST<span style="color: blue;">O</span>RE <span style="color: red;">VIETNAM</span> 2018" </b></p>
                <div style="margin-top: 2.5rem;">
                    Sincerely yours, <br>
                    Reed Tradex Co.,Ltd.
                </div>
            </div>
            <div class="sponsors" style="width: 100%; margin:0px auto; display: flex; text-align: center;">
                <div style="width: 100%;">
                    <p> <b>Organized by: </b></p>
                    <img src="http://tikkit.vn/shop-store-vietnam-2018/wp-content/uploads/2018/01/ReedTradex.png" alt="Reed Tradex" width="100%" style="max-width: 60%">

                </div>
                <div style="width: 100%;">
                    <p> <b> Supported by:</b> </p>
                    <div style="display: flex">
                        <img src="http://tikkit.vn/shop-store-vietnam-2018/wp-content/uploads/2018/01/retail-franchise.png" alt="Retail Franchise" width="50%" height="25%">
                        <img src="http://tikkit.vn/shop-store-vietnam-2018/wp-content/uploads/2018/01/franchise-consulting.png" alt="Franchise Consulting" width="50%" height="25%">
                    </div>
                </div>
                <div style="width: 100%;">
                    <p> <b>Sponsored by:</b> </p>
                    <img src="http://tikkit.vn/shop-store-vietnam-2018/wp-content/uploads/2018/01/redsun.png" alt="Red Sun" width="100%" style="max-width: 30%">
                </div>
            </div>
        </div>

    </div>
</body>
</html>