<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
	<style type="text/css">
		.im{
			display: flex;
		}
		p{
			font-size: 15px;
		}
	</style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="#FFFFFF" style="font-family: sans-serif;">
<center>
<div style="width:87%; min-width: 875px ;text-align: left; padding-left: 2%; border: #d6d8d9 5px solid;">
	<h1 style="text-align: center;"> VÉ THAM DỰ SỰ KIỆN <b style="color: red;">{{ data['ticket'].event.name | safe }} </b> </h1>
	<p>Xin chào, <br>
		Chúc mừng bạn đã nhận được tấm vé tham gia sự kiện <b>{{ data['ticket'].event.name|safe }}</b> tại <em> {{ data['ticket'].event.address|safe }} </em> vào lúc {{ data['ticket'].event.start_date.strftime("%H:%M") }}. <br>
		Vui lòng cung cấp email này tại cổng sự kiện để được check in nhé. Hẹn gặp bạn tại sự kiện. <br>

		Bạn nhận được code giảm giá 10% khi mua các sản phẩm Bad Habits Give Away tại sự kiện Traproom trên hệ thống Dosii-in.com <br>
		Vui lòng không cung cấp mã này cho người khác: <b>"badisnotbad"</b>.
	</p>

</div>
</center>
<center>
<div style="display: flex; border-radius: 5px; width: 90%; min-width: 900px; margin: 20px; min-height: 350px">
	<span class="im" style="display:flex;">
	<div style="display: flex; border: 3px solid #c5c5c4; ">
		<!--<div> {{ data['ticket'].name }}</div>-->
		<div style="text-align: left; padding: 0px 10px; width: 100%; background: url('http://tikkit.vn/wp-content/uploads/2017/12/TRXII-Cover-copy.png') no-repeat; background-size: cover;background-position: center;" align="left" >
			<div style=" height: 350px;width: 100%;">
				<p style="float: left; padding: 10px; font-style: italic; color: #f3f3f3; font-family: 'Roboto', 'Lucida Grande', Verdana, Arial, sans-serif;">EVENT<br>
					<a href="http://tikkit.vn/traproomxii" style="text-decoration:unset "> <strong style="font-size: 22px; color: #f3f3f3; font-weight: bolder"> TRAP ROOM XII : JURASSIC </strong> </a></p>
				<a href="http://tikkit.vn" style="align-self: flex-end;" >
					<img src="http://tikkit.vn/agilevietnam/wp-content/uploads/2017/08/TikkiT_logo.png" width="12%" align="right">
				</a>
			</div>
			<div style="color: #f3f3f3; text-align: right;">
				<p>DATE AND LOCATION<br>
						<strong style="font-size: 22px; font-style: italic;">Envy Club - {{ data['ticket'].event.start_date.strftime("%H:%M")}}, Thursday January 11, 2018</strong></p>
			</div>
		</div>
	</div>
	<div style="margin: 10px 0px; border: 1px dashed #e6e6e6;"></div>
	</span>
	<div style="width: 20%; text-align: left; background-color: rgba(191, 191, 191, 0.17); border: 5px solid #c5c5c4;" align="left">
		<h3 style="text-align: center; background-color: #d6d8d9; color: #101010; margin: 0px; padding: 20px;" align="center">ORDER BARCODE</h3>
		<div style="background-color: #fff; padding: 15px;">
			<img src="{{ data['qrcode'].src }}" alt="{{ data['qrcode'].id }}" height="auto" width="80%" style="display: block; margin: auto;">
		</div>
		<div style="padding: 0px 20px;">
			<center> <p></p> </center>
			<p style="font-weight: bold;">{{data['first_name'] + data['last_name']}}</p>
			<p>{{data['email']}}</p>
			<p>{{data['phone']}}</p>
		</div>
		<center><h1> [ {{ data['ticket'] }} ]</h1> </center>
	</div>
</div>

</center>
</body>
</html>
