<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        p,
        h2,
        h1, h3,h4 {
            font-family: arial;
        }

        p {
            font-size: 1.2em;
            color: #e6e6e6;
        }


        h1,h3,h4 {
            color: #e6e6e6;
        }
        h2{
            color: #e6e6e6;
        }
    </style>
</head>

<body>
    <div style="background-image: url('http://tikkit.vn/wp-content/uploads/2017/12/bg.jpg'); background-position:center;">
        <img src="http://tikkit.vn/wp-content/uploads/2018/03/emptysamurai.png" alt="Samurai" style="float:left;" width=30%>
        <img src="http://tikkit.vn/wp-content/uploads/2018/03/emptysamurai-1.png" alt="samurai" style="float:right;" width=30%>

        <img src="http://tikkit.vn/wp-content/uploads/2018/03/logo2.png" alt="Traproom XIII" width="40%" style="margin-top:6rem;">
        <div class="info" style="text-align:center;">
            <h2 style="color: #fff">Thursday, 29/03/2018.</h2>
            <h2 style="color: #fff">Ginza Saigon – 150/9 Nguyễn Trãi quận 1.</h2>
        </div>
        <div style="text-align:center; clear:both; min-width: 875px; ">

            <div style="text-align:left; padding: 0 12%;">

                <table style="border: 2px crimson; margin: auto; width: 100%; ">
                    <td style="width:65%;">
                        <div>
                            <h3 style="font-weight: 500; line-height: 1.5">Xin chào {{data['first_name'] + ' ' + data['last_name']}} ({{ data['stt'] }})
                                <br> Email: {{data['email']}} Phone: {{data['phone']}}

                                <br> Chúc mừng bạn đã nhận được tấm vé tham gia sự kiện TRAP ROOM XIII : KINTSUGI tại Ginza Saigon vào lúc 21:00.
                                <br>

                            <h3>
                        </div>
                    </td>
                    <td style="text-align:right;">
                        <div class="qrcode">
                            <img src="{{ data['qrcode'].src }}" alt="{{ data['qrcode'].id }}"
                                height="auto" width="60%">
                        </div>
                    </td>

                </table>
                <h2 style="color: #faea2d;font-weight: 500; line-height: 1.5; text-align: center; padding-bottom: 5%">Vui lòng cung cấp email này tại cổng sự kiện để được check in nhé. Hẹn gặp bạn tại sự kiện.</h2>
            </div>

        </div>
        <div style="clear: both;"></div>
    </div>
</body>

</html>